<!doctype html>
<html>

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>

<body>
    <div>
        <h1><a href="{{url_for('common.home')}}">MyBlog</a></h1>
        {% if g.user %}
        Welcome {{g.user.username}}
        <a href="{{url_for('auth.logout')}}">Logout</a>
        {% else %}
        <a href="{{url_for('auth.login')}}">Login</a>
        {% endif %}
        <ul>
            <li><a href="{{url_for('common.about')}}">About</a></li>
            <li><a href="{{url_for('posts.list')}}">Posts</a></li>
            <li><a href="{{url_for('common.link_list')}}">Links</a></li>
            {% if g.user %}
            <li><a href="{{ url_for('users.list') }}">Users</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div style="margin-top:100px;" id="footer">
        {% block footer %}
        &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>

</html>
