{% extends "base.html" %}

{% block content %}

<h2>Posts</h2>
<ul class="posts">
    {% for post in posts %}
    <li>
        <h3> <a href="{{ url_for('posts.view', id=post._id) }}">{{post.title}}</a></h3>
        <div>{{post.body | truncate}}</div>
    </li>
    {% endfor %}
</ul>
<nav>
    <ul class="pagination">
        <li class="page-item {% if current_page == 1 %} disabled {% endif %}">
            <a class="page-link" href="{{url_for('posts.list', page=current_page-1)}}">Previous</a>
        </li>

        {% for i in range(1, pages + 1) %}
        <li class="page-item{% if i == current_page %} active {% endif %}">
            <a class="page-link" href="{{url_for('posts.list', page=i)}}">{{i}}</a>
        </li>
        {% endfor %}

        <li class="page-item {% if current_page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{url_for('posts.list', page=current_page+1)}}">Next</a>
        </li>
    </ul>
</nav>
{% endblock %}
