{% extends "base.html" %}

{% block content %}

<h1>Posts</h1>
<table border="1" xstyle="border: 1px solid black;">
    <tr>
        <th>Title</th>
        {% if g.user %}
        <th>Edit</th>
        <th>Delete</th>
        {% endif %}
    </tr>

    {% for post in posts %}
    <tr>
        <td> <a href="{{ url_for('posts.view', id=post._id) }}"> {{ post.title }} </a> </td>
        {% if g.user %}
        <td> <a href="{{ url_for('posts.edit', id=post._id) }}">Edit</a> </td>
        <td>
            <form action="{{url_for('posts.delete', id=post._id)}}" method="post">
                <button type="submit"> Delete </button>
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}

</table>

<a href="{{url_for('posts.new')}}">New Post</a>
{% endblock %}
